




<ul class="message_history">
	{% for message in messages %}
	<li

		{% if message["highlight"] %}
		class="highlight"
		{% endif %}
	>


	{% if include_user %}
		<img class="avatar" src="{{ message['avatar'] }}">
	{% endif %}

	<a name="{{ message['id'] }}"></a>
		<span class="metadata">
			{% if include_channel %}
			<span class="origin">
				<a href="{{ url_for('server', server_id=message['server_id']) }}">{{message["server_name"]}}</a>.<a href="{{ url_for('channel', channel_id=message['channel_id']) }}">{{message["channel_name"]}}</a></span>
			{% endif %}

			<a href="{{ url_for('channel_messages', channel_id=message['channel_id']) }}{{message|format_history_window_querystring}}">

				{% if include_dates %}
					{{message["timestamp"]|format_timestamp}}

					<i class="bi bi-chat-quote"></i></a>
				{% endif %}

		</span>
		{% if include_user %}

		<a href="{{ url_for('user', user_id=message['user_id']) }}">
			{% if message["user"] %}
			<span style="color: {{ message['user']['color'] }};">
				{{message|format_message_author_name}}</span>
			{% else %}{{message|format_message_author_name}}{% endif %}</a>

		{% if message["bot"] == "1" %}
		<span class="red">(<i class="bi bi-robot"></i>)</span>
		{% endif %}
		{% endif %}

		{{ message["content"] }}

		<a href="{{ url_for('sandbox', messages=message['id']) }}" class="sandbox_link"><i class="bi bi-input-cursor-text"></i></a>


		{% if message["link_count"] != "0" or message["attachment_count"] != "0"%}
		<div class="related_objects"><small>

		{% if message["attachment_count"] != "0" %}
			<span class="attachments">Attached:
			{% for attachment in message["attachments"] %}
				<a href="{{ attachment['url'] }}" class="external_link">{{ attachment["filename"] }}</a>
			{% endfor %}
			</span>
		{% endif %}

		{% if message["link_count"] != "0" %}
			<span class="links">Linked:
			{% for link in message["links"] %}
				<a href="{{ link['url'] }}" class="external_link">{{ link["url"] }}...</a>
			{% endfor %}
			</span>
		{% endif %}


		</small>
		</div>
		{% endif %}


	</li>
	{% endfor %}
</ul>
