{% extends 'base.html' %}
{% block content %}

<div class="row" id="breadcrumbs">
	<div class="col">
		<a href="{{ url_for('index') }}"><i class="bi bi-house"></i></a> /
		<a href="{{ url_for('servers') }}">servers</a> /
		<a href="{{ url_for('server', server_id=server['id']) }}"><em>{{ server["name"] }}</em></a> /
		<a href="{{ url_for('server_channels', server_id=server['id']) }}">Channels</a> /
		<a href="{{ url_for('channel', channel_id=channel['id']) }}"><em>{{ channel["name"] }}</em></a> /
		Channel Users
	</div>
</div>

<div class="row">
	<div class="col-2">
		<ul class="list_nav">
			nav.
		</ul>
	</div>
		settings.
	</div>
</div>

{% endblock %}
