{% extends 'base.html' %}
{% block content %}



<div class="row" id="breadcrumbs">
	<div class="col">
		<a href="{{ url_for('index') }}"><i class="bi bi-house"></i></a> /
		<a href="{{ url_for('servers') }}">servers</a> /
		<a href="{{ url_for('server', server_id=server['id']) }}"><em>{{ server["name"] }}</em></a> /
		<a href="{{ url_for('server_channels', server_id=server['id']) }}">Channels</a> /
		<a href="{{ url_for('channel', channel_id=channel['id']) }}"><em>{{ channel["name"] }}</em></a> /
		Channel Messages
	</div>
</div>

{% set include_channel = False %}
{% set include_user = True %}


<script>
	function get_date_range(){
		return [
			document.getElementById("startDate").value,
			document.getElementById("stoptDate").value]
	}

	function channel_messages_by_time(){
		let [start, stop] = get_date_range();
		window.location="/channel/{{ channel['id'] }}/messages?start="+start+"&stop="+stop;
	}
</script>
<div class="row date_range_widget">
	<div class="col">
		<form>
			<input id="startDate"  type="datetime-local" value="{{ start }}" />
			<input id="stoptDate" type="datetime-local" value="{{ stop }}" />
			<button type="button" class="btn btn-link" onclick="channel_messages_by_time()">Update Date Range</button>
		</form>
	</div>
</div>






<div class="row">
	<div class="col">



		{% include '_messages.html' %}


	</div>
</div>

{% endblock %}
