{% extends 'base.html' %}
{% block content %}

<div class="row" id="breadcrumbs">
	<div class="col">
		<a href="{{ url_for('index') }}"><i class="bi bi-house"></i></a> /
		Documentation
	</div>
</div>

<div class="row">
	<div class="col-2">
		<ul class="list_nav">
			<li>pBot</li>
			<li>Discord</li>
			<li>OpenAI</li>
			<li>Midjourney</li>
		</ul>
	</div>
	<div class="col-10">

		<h1>pBot</h1>
		<ul class="no_bullets">
			<li><a href="https://pbot-ai.com/">Website</a></li>
			<li><a href="https://github.com/DingoRanchLabs/pbot">Github repo</a></li>
		</ul>


		<h2>Dependencies</h2>
		<h3>Python</h3>

		<table class="table">
			<thead>
				<tr>
					<th>depedency</th>
					<th class="admin">admin-service</th>
					<th class="bot">bot-service</th>
					<th class="listener">listener-service</th>
				</tr>
			</thead>
			<tbody>
				<tr style="display:none;">
					<td><a href="https://docs.python.org/3/library/asyncio.html">asyncio</a></td>
					<td class="admin"></td>
					<td class="bot"></td>
					<td class="listener"></td>
				</tr>
				<tr>
					<td><a href="https://discordpy.readthedocs.io/en/stable/">discord.py</a></td>
					<td class="admin"></td>
					<td class="bot"></td>
					<td class="listener"><i class="bi bi-check"></i></td>
				</tr>
				<tr>
					<td><a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a></td>
					<td class="admin"><i class="bi bi-check"></i></td>
					<td class="bot"></td>
					<td class="listener"></td>
				</tr>
				<tr>
					<td><a href="https://pypi.org/project/openai/">openai</a></td>
					<td class="admin"></td>
					<td class="bot"><i class="bi bi-check"></i></td>
					<td class="listener"></td>
				</tr>
				<tr>
					<td><a href="https://pypi.org/project/pylint/">pylint</a></td>
					<td class="admin"><i class="bi bi-check"></i></td>
					<td class="bot"><i class="bi bi-check"></i></td>
					<td class="listener"><i class="bi bi-check"></i></td>
				</tr>
				<tr>
					<td><a href="https://docs.pytest.org">pytest</a></td>
					<td class="admin"></td>
					<td class="bot"><i class="bi bi-check"></i></td>
					<td class="listener"></td>
				</tr>
				<tr>
					<td><a href="https://pypi.org/project/python-dotenv/">python-dotenv</a></td>
					<td class="admin"><i class="bi bi-check"></i></td>
					<td class="bot"><i class="bi bi-check"></i></td>
					<td class="listener"><i class="bi bi-check"></i></td>
				</tr>
				<tr>
					<td><a href="https://pypi.org/project/ratelimit/">ratelimit</a></td>
					<td class="admin"></td>
					<td class="bot"><i class="bi bi-check"></i></td>
					<td class="listener"><i class="bi bi-check"></i></td>
				</tr>
				<tr>
					<td><a href="https://pypi.org/project/tiktoken/">tiktoken</a></td>
					<td class="admin"></td>
					<td class="bot"><i class="bi bi-check"></i></td>
					<td class="listener"></td>
				</tr>
				<tr>
					<td><a href="https://redis-py.readthedocs.io/en/stable/">redis-py</a></td>
					<td class="admin"><i class="bi bi-check"></i></td>
					<td class="bot"><i class="bi bi-check"></i></td>
					<td class="listener"><i class="bi bi-check"></i></td>
				</tr>
			</tbody>
		</table>

		<h3>Web <span class="admin">(admin-service-only)</span></h3>
		<ul class="no_bullets">
			<li><a href="https://getbootstrap.com/">Bootstrap 5</a></li>
		</ul>


		<h2>OpenAI</h2>
		<ul class="no_bullets">
			<li><a href="https://platform.openai.com/docs/overview">API</a></li>
			<li><a href="https://cookbook.openai.com/">Cookbook</a></li>
			<li><a href="https://community.openai.com/">Developer Forums</a></li>
			<li><a href="https://openai.com/pricing">Pricing</a></li>
			<li><a href="https://platform.openai.com/docs/guides/rate-limits">Rate limits</a></li>
			<li><a href="https://platform.openai.com/docs/guides/prompt-engineering">Prompt engineering guide</a></li>
			<li><a href="https://help.openai.com/en/articles/6654000-best-practices-for-prompt-engineering-with-the-openai-api">Best practices for prompt engineering</a></li>
			</li>
			<li><a href="https://help.openai.com/en/articles/4936856-what-are-tokens-and-how-to-count-them">Tokens</a></li>
		</ul>

		<h2>Discord</h2>
		<ul class="no_bullets">
			<li><a href="https://discord.com/developers/applications">Discord Developer Portal</a></li>
			<li><a href="https://discordpy.readthedocs.io/en/stable/index.html">discord.py</a></li>
		</ul>

		<h2>Midjourney</h2>
		<ul class="no_bullets">
			<li><a href="https://docs.midjourney.com/docs/quick-start">docs.midjourney.com</a></li>
		</ul>

		<h2>Bard</h2>
		<ul class="no_bullets">
			<li><a href="https://aibard.online/bard-api-documentation/">https://aibard.online/bard-api-documentation/</a></li>
			<li><a href="https://github.com/ra83205/google-bard-api">https://github.com/ra83205/google-bard-api</a></li>
		</ul>

	</div>
</div>

{% endblock %}
