{% extends 'base.html' %}
{% block content %}

<div class="row" id="breadcrumbs">
	<div class="col">
		<a href="{{ url_for('index') }}"><i class="bi bi-house"></i></a> /
		<a href="{{ url_for('servers') }}">servers</a> /
		<em>{{ server['name'] }}</em>
	</div>
</div>

<div class="row">
	<div class="col-2">
		<ul class="list_nav">
			<li><a href="{{url_for('server_channels', server_id=server['id'])}}">Channels</a></li>
			<li><a href="{{url_for('server_users', server_id=server['id'])}}">Users</a></li>
			<li><a href="{{url_for('server_settings', server_id=server['id'])}}">Settings</a></li>
		</ul>
	</div>
	<div class="col-10">

	</div>
</div>

{% endblock %}
