{% extends 'base.html' %}
{% block content %}

<div class="row" id="breadcrumbs">
	<div class="col">
		<a href="{{ url_for('index') }}"><i class="bi bi-house"></i></a> /
		<a href="{{ url_for('servers') }}">servers</a> /
		<a href="{{ url_for('server', server_id=server['id']) }}"><em>{{ server['name'] }}</em></a> /
		Server Settings
	</div>
</div>

<div class="row">
	<div class="col-2">
		nav.
	</div>
	<div class="col-10">
		<form method="post" action="{{ url_for('server_settings', server_id=server['id']) }}">

			<input type="hidden" name="server_id" value="{{server['id']}}">

			<p>
				Parse messages from this server:

				<input type="radio" name="parse_messages" value="yes"
				{% if server["_parse_messages"] == "1" %}
					checked
				{% endif %}
				> Yes
				<input type="radio" name="parse_messages" value="no"
				{% if server["_parse_messages"] == "0" %}
					checked
				{% endif %}
				> No
			</p>
			<p>
				Allow responses to be generated for this server:

				<input type="radio" name="allow_generation" value="yes"
				{% if server["_allow_generation"] == "1" %}
					checked
				{% endif %}
				> Yes
				<input type="radio" name="allow_generation" value="no"
				{% if server["_allow_generation"] == "0" %}
					checked
				{% endif %}
				> No
			</p>
			<p>
				Send responses to this server:

				<input type="radio" name="send_responses" value="yes"
				{% if server["_send_responses"] == "1" %}
					checked
				{% endif %}
				> Yes
				<input type="radio" name="send_responses" value="no"
				{% if server["_send_responses"] == "0" %}
					checked
				{% endif %}
				> No
			</p>
			<hr>
			<input type="submit" value="Update Server Settings" />
		</form>
	</div>
</div>

{% endblock %}
