# Bot Python Requirements.

# Core dependencies.
# ------------------------------------------------------------------------------

python-dotenv
redis
asyncio
tiktoken
pytest
pylint

# Optional middleware dependencies.
# ------------------------------------------------------------------------------

# SimpleOpenAiResponseMiddleware
openai
