body{

}

.bot_message{
	color: green;
}

.chat_history li{
	list-style-type: none;
	color: #333;
	margin-bottom: 30px;
}

.timestamp{
	font-weight: bold;
	padding:5px;
	background-color: lightblue;

}
.username{
	font-weight: bold;
	color: yellowgreen;
	padding:5px;
	background-color: lightblue;

}
.message{
	background-color: #aaa;
	padding:5px;
}

.attachments li{
	list-style-type:disc;
}
.links li {
	list-style-type:disc;
}
.chat_history li.read{
	background-color: #222;
}




body{
	background-color: #0d1118;
	color: #e6ecf4;
}
a {
	color:#2a76e2
}

input{
	background-color: #0d1118;
	border:1px solid #666;
	color:#fff
}
.settings_links{
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

.form-text{
	color:#777;
}

h2{
	border-top: 1px solid #21262e;
	padding-top: 20px;
	padding-bottom: 20px;
}
#header{
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

	display: none;


}
#header a{
	color:#eee;
	text-decoration: none;
}
#header a:hover{
	color:#2a76e2
}


#footer{
	padding-top:20px;
	border-top: solid 1px #21262e;
	margin-top: 100px;
	color:#666;
}
.no_bullets{

	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

h1{
	margin-bottom: 30px;
}
#main_nav{

	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-top:75px;
}

/* ------------------------------------- */

a {
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
}

.list_nav {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

.list_nav a {
}
.list_nav a:hover {
	color:#2a76e2;
}
h1{

}
#breadcrumbs {
	margin-top: 10px;
	margin-bottom: 15px;
}
.date_range_widget {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #161b22;
	padding:5px;
	border: 1px solid #30363e;
	border-radius: 5px;
}
.metadata {
	font-family: monospace;
	color:#666;
}
.highlight{
	border-left: 3px solid gold;

	background-color: #21262e;
}
.message_history{
	margin-left: 0px;
	padding-left: 0px;
}

.message_history li {
	list-style: none;
}
.red{
	color:red;
}







.related_objects{
	color:#666;
	padding-left: 20px;
}
.related_objects a{
	color:orange;
	padding: 5px;
	margin: 5px;
	text-decoration: underline;
	border:#333 1px solid;
	border-radius: 5px;
	display: inline-block;
}
.avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin:5px;
}
.sandbox_link{
	color:#fff;
}
.sandbox_link {
	color:#333;
}
.sandbox_link:hover{
	color:green;
}
.service{
	border:0px solid #333;
	border-radius: 5px;
	display: inline-block;
}
.bot{
color: #ea868f !important;
}
.admin{
color:#ffda6a !important;
}
.listener{
color:#73b596 !important;
}
th,td{
	background-color: inherit !important;
	color: inherit !important;
}